{% extends "base.html" %}

{% block title %}애물단지 | 상세페이지{% endblock %}

{% block content %}
<div class="data" data-user-ticket={{ request.user.ticket }}>
    <h1>ItemDetail</h1>
       <h2>업로더 :  {{ item.user }}</h2>
       <p> 이미지 :<img src="{% if item.image %}{{ item.image.url }}{% else %}http://placehold.it/200x150{% endif %}" alt="{{ item.title }}" width="400px" height="600px"/></p>
       <h1>제목 :  {{ item.title }} </h2>
       <h3>내용 : {{ item.content }} </h3>

        <h1>상세 이미지 리스트</h1>
        {% for content_image in item.images.all %}
            <p><img src="{% if content_image.image %}{{content_image.image.url}}{% else %}http://placehold.it/200x150{% endif %}" alt="{{item.title}}" width="400px" height="600px" alt=""/></p>
        {% endfor %}

        {# Form POST, AJAX => Refactoring #}
        <a id="transfer" href="{% url "item_transfer" item.hash_id %}">양도받기</a>

        <h2>댓글</h2>
        {% for comment in item.comment_set.all %}
            <p id="{{ comment.id }}">{{ comment.user.username }}: {{ comment.content }}</p>
        {% endfor %}

        <form action="/item/{{item.hash_id}}/comments/" method="post">
        {% csrf_token %}
        <textarea name="content" ></textarea>
        <input type="submit"> 
    </form>
</div>
{% endblock %}
