{% extends "base.html" %}

{% block title %}애물단지 | 상세페이지{% endblock %}

{% block content %}
<div class="data" data-user-ticket={{ request.user.ticket }}>
    <div class="row">
      <div class="col-md-offset-3 col-md-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">                
                        <img src="{% if item.image %}{{ item.image.url }}{% else %}http://placehold.it/200x150{% endif %}" alt="{{ item.title }}" width="400" height=auto;/>
                        <a href="#">
                            <div class="mask waves-effect"></div>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.content }}</p>
                </div>
                <!--Buttons-->
                <div class="card-btn text-center">
                    {# Form POST, AJAX => Refactoring #}
                    <a class="btn btn-success waves-effect waves-light" id="transfer" href="{% url "item_transfer" item.hash_id %}">양도받기</a>
                </div>
                <!--/.Buttons-->
                </div>
            <!--Image Card-->
            </div>
      <div class="col-md-2 overflow-scroll" style="height:600px;"> 
            {% for content_image in item.images.all %}
            <p><img src="{% if content_image.image %}{{content_image.image.url}}{% else %}http://placehold.it/200x150{% endif %}" alt="{{item.title}}" width="200px" height="auto" alt=""/></p>
            {% endfor %}
      </div>

    <!-- row -->
    </div>
    
    <div class ="verticalcenter text-center thin-100-italic">
        <p>업로더 :  {{ item.user }}</p>
    </div>

    <h2>댓글</h2>
    {% for comment in item.comment_set.all %}
        <p id="{{ comment.id }}">{{ comment.user.username }}: {{ comment.content }}</p>
    {% endfor %}

    <form action="/item/{{item.hash_id}}/comments/" method="post">
        {% csrf_token %}
        <textarea name="content" ></textarea>
        <button type="submit" class="button1 btn btn-primary btn-sm">댓글 쓰기</button>
    </form>
</div>
{% endblock %}
