<footer id="header">
  <!-- Footer -->
  <footer class="page-footer info-color darken-1" if="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <p class="white-text center-on-small-only">THANK YOU</p>
          <p class="white-text center-on-small-only">Register for free and start to create amazing things.</p>

        </div>
        <hr class="hidden-lg hidden-md">

        <hr class="hidden-lg hidden-md">

        <div class="col-md-3 text-center">
          <p class="white-text text-center"> SOCIAL MEDIA</p>
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100011540113358" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
          <a target="_blank" href="https://github.com/deadlylaid/amulldanji" class="btn-floating btn-large git-bg waves-effect waves-light"><i class="fa fa-github"> </i></a>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="col-md-10 col-md-offset-1"> © 2015 Copyright <a href="http://paphopu.tistory.com/">Deadlylaid</a>
        </div>
      </div>
    </div>
  </footer>
</footer>
